.page-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 90px 358px 0 375px;
  gap: 68px;

    @media (max-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      padding: 49px 25px 0 16px;
      flex-wrap: wrap;
      gap: 0;
    }

    @media (max-width: $mobile-width) {
        padding: 0px 9px;
    }
}



.page-footer__wrapper h5 {
  font-size: 18px;

  @media (max-width: $mobile-width) {
    margin-top: 16px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;  
  }
}

.page-footer__list-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
  gap: 38px;
  padding-left: 0;

  @media (max-width: $mobile-width) {
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 19px 38px;
  }
}

.page-footer__list {
  padding-left: 0;
  list-style: none;

  @media (max-width: $mobile-width) {
    font-size: 14px;
  }
}

.page-footer__list li {
  padding-bottom: 8px;
}

.page-footer__next-travel {
  @media (max-width: $mobile-width) {
    text-align: center;
  }
}
/*
.page-footer__next-travel {
    @media (max-width: $tablet-width) {
      width: 50%;
    }
    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }
  
.page-footer__next-travel h5 {
    @media (max-width: $tablet-width) {
       margin-bottom: 20px; 
    }
}

.page-footer__next-travel ul {
    list-style: none;
    padding-left: 0;
    column-count: 3;
    column-gap: 48px;

    @media (max-width: $tablet-width) {
      column-gap: 31px;
    }

    @media (max-width: $tablet-width) {
      column-gap: 15px;  
    } 
}

.page-footer__next-travel li {
    padding-bottom: 4px;

    @media (max-width: $tablet-width) {
        padding-bottom: 7px;
    }
}

*/
.page-footer__contacts ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding-left: 0;
}

.page-footer__contacts {
  @media (max-width: $tablet-width) {
      padding-right: 20px;
  }
  @media (max-width: $mobile-width) {
    text-align: center;
    padding-top: 27px;

  }

}

.page-footer__contacts a {
    text-decoration: none;
    color: $peach-color;
}

.page-footer__contacts h5 {  
  padding-left: 29px;
}

.page-footer__phone {
    font-size: 16px;
    background-image: url(../img/phone.svg);
    background-repeat: no-repeat;
    text-align: right;
    width: 201px;
    height: 30px;
    font-size: 16px;
    padding-left: 43px;
    background-position: 34px 0px;

}

.page-footer__email {
    //@extend: 20px;
    width: 249px;
    height: 40px;
    background-image: url(../img/email.svg);
    background-repeat: no-repeat;
    background-position: 34px 0px;
    text-align: right;
    padding-left: 43px;
    font-size: 14px;

}

.page-footer__corporate {

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
  
  @media (max-width: $mobile-width) {
    padding-top: 35px;
  }
}

.page-footer__corporate h5{
  @media (max-width: $tablet-width) {
    text-align: center;  
  }
}

.page-footer__corporate p{

  line-height: 23px;

  @media (max-width: $tablet-width) {
    text-align: center;
    line-height: 23px;  
    font-size: 14px;
  }
}

/*
.page-footer__table td:nth-child(1) {
    padding-right: 30px;
}

.page-footer__table td:nth-child(3) {
    padding-right: 30px;

    @media (max-width: $mobile-width) {
    
    }
}

.page-footer__table td {
    width: 95px;
    padding-bottom: 7px;
}

.page-footer__table tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.page-footer__list-container {
    display: flex;
  
    @media (max-width: $mobile-width) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  
    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }

.page-footer__list-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $tablet-width) {
      margin-right: 16px;
    }

    @media (max-width: $mobile-width) {
      width: 50%;
      margin-right: 0;
      &:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 5px;
        margin-right: 0;
      }
    }
}
*/
/*
.page-footer__list-container li {

    @media (max-width: $mobile-width) {
      margin-bottom: 13px;
      text-align: center;
      &:last-child {
        margin-bottom: 0;
    }  
  }
  
}
*/