// viewports

$desktop-width-only: 1024px;  //max-width
$tablet-width: 1023px;  //min-width 768-1023
$mobile-width: 767px;  //min-width  320-767

//color

$peach-color: rgba(254, 120, 101, 1);
$orange: rgba(241, 125, 75, 1);
$black: rgba(20, 21, 23, 1);
$dark-blue: rgba(44, 46, 63, 1);
$white: rgba(255, 255, 255, 1);
$light-grey: rgba(44, 46, 63, 0.3);
$light-grey-1: rgba(44, 46, 63, 0.7);
$dark-grey: rgba(72, 73, 77, 1);




